{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="auth layout">
  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>

      <!-- Logo Section -->
      <div class="auth__logo-container">
        <img src="{% static 'images/BYU-Pathway_Worldwide_Monogram.svg.png' %}" alt="BYU Pathway Logo" class="auth__logo">
      </div>

      <div class="layout__body">
        <h2 class="auth__tagline">Huddle with Peer Mentors around the world!</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="email" placeholder="youremail@byupathway.edu" />
          </div>
          <div class="form__group">
            <label for="password">Password</label>
            <div class="password-wrapper">
              <input id="password" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
              <span class="toggle-password" onclick="togglePasswordVisibility()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12 4.5c-4.97 0-9 3.58-9 8s4.03 8 9 8 9-3.58 9-8-4.03-8-9-8zm0 14c-3.86 0-7-2.69-7-6s3.14-6 7-6 7 2.69 7 6-3.14 6-7 6zm0-10c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
                </svg>
              </span>
            </div>
          </div>

          <button class="btn btn--login" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>login</title>
              <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
            Login
          </button>
        </form>

        <div class="auth__action">
          <p>Don't have an account yet?</p>
          <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Register</h3>
        </div>
      </div>
      
      <div class="auth__logo-container">
        <img src="{% static 'images/BYU-Pathway_Worldwide_Monogram.svg.png' %}" alt="BYU Pathway Logo" class="auth__logo">
      </div>

      <div class="layout__body">
        <h2 class="auth__tagline">Huddle with Peer Mentors around the world!</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}

          <button class="btn btn--register" type="submit">
            Register
          </button>
        </form>

        <div class="auth__action">
          <p>Already signed up?</p>
          <a href="{% url 'login' %}" class="btn btn--link">LogIn</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock content %}




<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const togglePassword = document.querySelector('.toggle-password');
    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);
  
    // Toggle the icon
    if (type === 'password') {
      togglePassword.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12 4.5c-4.97 0-9 3.58-9 8s4.03 8 9 8 9-3.58 9-8-4.03-8-9-8zm0 14c-3.86 0-7-2.69-7-6s3.14-6 7-6 7 2.69 7 6-3.14 6-7 6zm0-10c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
        </svg>
      `;
    } else {
      togglePassword.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12 4.5c-4.97 0-9 3.58-9 8s4.03 8 9 8 9-3.58 9-8-4.03-8-9-8zm0 14c-3.86 0-7-2.69-7-6s3.14-6 7-6 7 2.69 7 6-3.14 6-7 6zm-6.36-6c0-3.31 2.69-6 6-6 1.31 0 2.52.43 3.5 1.14l-1.42 1.42c-.58-.34-1.25-.56-2.08-.56-2.21 0-4 1.79-4 4 0 .83.22 1.5.56 2.08l-1.42 1.42c-.71-.98-1.14-2.19-1.14-3.5zm12.72 0c0 3.31-2.69 6-6 6-1.31 0-2.52-.43-3.5-1.14l1.42-1.42c.58.34 1.25.56 2.08.56 2.21 0 4-1.79 4-4 0-.83-.22-1.5-.56-2.08l1.42-1.42c.71.98 1.14 2.19 1.14 3.5z"/>
        </svg>
      `;
    }
  }
</script>